/*GLTF_Loader CSS*/

body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        overflow: hidden;
        background: purple;
      }

      #video{
        margin-top: 20px;      
        width: 100%;
        height: auto;
      }
    
      #canvas_id{
        margin-left: 120px;
        margin-top: 20px;       
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
        position: absolute;
        /*background:rgba(0, 0, 0, 0.8);*/
        z-index: 1;
              
             
      }
      #video_div{
        position: absolute;
        margin-top: 20px;
        margin-left: 120px;
        border:5px solid orange;
        height: 606px;
        width: 1020px;
        background: #333;
        /*background:rgba(0, 0, 0, 0.8);*/
        
      }


/* The Modal (background) */
.modal {
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    animation: fade-in 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

  
span.section-header {
    background-color: #dde7fb;
    padding: 3px 6px;
    font-size: 10px;
    font-weight: bold;
    color: #060a13;
    border-radius: 4px;
    display: inline-block;
    margin: 8px 0px;
    margin-top: 16px;
    width: 120px;
}

.visa-icon {
    width: 200px;
    height: 25px;
    border-radius: 4px;
    background: url("http://i76.imgup.net/accepted_c22e0.png");
    background-size: cover;
    background-position: center;
}

.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}

.old-price {
  color: #f00;
  text-decoration: line-through;
}

/*#video::-webkit-media-controls-panel {
     position: absolute;
     top: 400px;
}*/
